<br/>
<div class="card">
  <div class="card-header">
    <h5 class="modal-title text-primary">Registrarse - Datos Personales</h5>
  </div>
<div class="card-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: f.object %>

  <div class="field"><br />
    <%= f.label 'Email' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"ejemplo@ejemplo.com", :required => true %>
  </div><br/>

  <div class="field">
    <%= f.label 'Contraseña' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> Caracteres minimos)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"******" %>
  </div>

  <div class="field"><br />
    <%= f.label 'Confirmar Contraseña' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"******" %>
  </div>

  <div class="form-group my-3">
    <%= f.label 'Tipo de Usuario' %>
    <%= collection_select(:user, :user_type_id, UserType.where(public: 1), :id, :typename) %>
  </div>

  <div class="field"><br/>
    <%= f.label 'Nombre completo' %>
    <%= f.text_field :username, autofocus: true, class:"form-control", :required => true %>
  </div>

  <div class="field"><br/>
    <%= f.label 'Cedula' %>
    <%= f.text_field :identification_document, class:"form-control", type:"number", :required => true %>
  </div>

  <div class="field"><br />
    <%= f.label 'Nombre de empresa' %>
    <%= f.text_field :business_name, autofocus: true, class:"form-control", :required => true %>
  </div>

  <div class="field"><br />
    <%= f.label 'RUT' %>
    <%= f.text_field :rut, autofocus: true, class:"form-control", type:"number", :required => true %>
  </div>

  <div class="field"><br />
    <%= f.label 'Dirección' %>
    <%= f.text_field :address, autofocus: true, class:"form-control",  :required => true %>
  </div>

  <div class="field"><br />
    <%= f.label 'Teléfono' %>
    <%= f.text_field :phone_one, autofocus: true, class:"form-control", :required => true %>
  </div>

  <div class="field"><br />
    <%= f.label 'Celular' %>
    <%= f.text_field :phone_two, autofocus: true, class:"form-control", type:"number", :required => true %>
  </div>

  <div class="field"><br />
    <%= f.label 'Ciudad' %>
    <%= f.text_field :location, autofocus: true, class:"form-control" , :required => true %>
  </div>

  <div class="field"><br />
    <%= f.label 'Codigo Postal' %>
    <%= f.text_field :invoice_postal_code, autofocus: true, class:"form-control", type:"number", :required => true %>
  </div> <br> 

  <div class="actions">
      <%= f.submit "Registrase", class: 'btn', data: { disable_with: "Guardando..." }%>
    </div>
  <% end %>

  <!-- <%= render "devise/shared/links" %>  -->
  </div>
</div>
