<h5 class="login-titulo">Forgot your password?</h5>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <h1 class="login" id="titulo-login"><%= f.label :email %></h1>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div><br>

  <div class="actions">
    <%= f.submit "Enviarme instrucciones para restablecer la contraseña", class: 'btn btn-input' %>
  </div>
<% end %>

