<div class="mt-5 container">
  <%= form_with(model: payroll) do |form| %>
    <% if payroll.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(payroll.errors.count, "error") %> prohibited this payroll from being saved:</h2>

        <ul>
          <% payroll.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2 class="modal-title">Planilla mensual de datos</h2><br/>

  <select class="form-select" aria-label="Default select example">
    <option selected>Elejir el mes</option>
    <option value="1">Enero</option>
    <option value="2">Febrero</option>
    <option value="3">Marzo</option>
    <option value="4">Abril</option>
    <option value="5">Mayo</option>
    <option value="6">Junio</option>
    <option value="7">Julio</option>
    <option value="8">Agosto</option>
    <option value="9">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>
  </select><br/>


  <div class="field form-group">
    <%= form.text_field :user_id, id: :payroll_user_id, class:"form-control", value:current_user.id, type:"hidden"%>
  </div>

  
  <div class="field form-group">
    <%= form.text_field :producer, class:"form-control", value:current_user.username%>
  </div><br/>

  <div class="field form-group">
    <%= form.text_field :location, id: :payroll_location, class:"form-control", value:current_user.location%>
  </div><br/>

  <!-- <div class="field">
    <%= form.label :producer %>
    <%= form.text_field :producer %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div> -->

<!-- Aca hay que agregar usertype a los users para que sirva -->  
  <div class="field form-group">
    <%= form.text_field :user_type_id, id: :payroll_user_type, class:"form-control", placeholder:"Tipo de usuario"%> 
  </div><br/>

  <!-- Cargar los tecnicos que tenga asignado el productor, en caso de ser tecnico cargar si id -->
  <div class="field form-group">
    <%= form.text_field :technical, id: :payroll_technical, class:"form-control", placeholder:"technical"%> 
  </div><br/>

  <div class="field form-group">
    <%= form.text_field :year, class:"form-control", placeholder:"Año"%> 
  </div><br/>

  <div class="field form-group">
    <%= form.text_field :rodeos_main_breed, class:"form-control", placeholder:"Raza principal del rodeo"%> 
  </div><br/>

  <div class="field">
    <%= form.label :rodeos_main_breed %>
    <%= form.text_field :rodeos_main_breed %>
  </div>

  <div class="field">
    <%= form.label :liter_sent %>
    <%= form.text_field :liter_sent %>
  </div>

  <div class="field">
    <%= form.label :liters_of_milk_not_sent %>
    <%= form.text_field :liters_of_milk_not_sent %>
  </div>

  <div class="field">
    <%= form.label :cell_count %>
    <%= form.text_field :cell_count %>
  </div>

  <div class="field">
    <%= form.label :bacterial_count %>
    <%= form.text_field :bacterial_count %>
  </div>

  <div class="field">
    <%= form.label :grease %>
    <%= form.text_field :grease %>
  </div>

  <div class="field">
    <%= form.label :protein %>
    <%= form.text_field :protein %>
  </div>

  <div class="field">
    <%= form.label :urea %>
    <%= form.text_field :urea %>
  </div>

  <div class="field">
    <%= form.label :cryoscopy %>
    <%= form.text_field :cryoscopy %>
  </div>

  <div class="field">
    <%= form.label :vm_surface %>
    <%= form.text_field :vm_surface %>
  </div>

  <div class="field">
    <%= form.label :dairy_surface %>
    <%= form.text_field :dairy_surface %>
  </div>

  <div class="field">
    <%= form.label :milking_cows %>
    <%= form.text_field :milking_cows %>
  </div>

  <div class="field">
    <%= form.label :dry_cows %>
    <%= form.text_field :dry_cows %>
  </div>

  <div class="field">
    <%= form.label :cow_dough %>
    <%= form.text_field :cow_dough %>
  </div>

  <div class="field">
    <%= form.label :suckling_calves %>
    <%= form.text_field :suckling_calves %>
  </div>

  <div class="field">
    <%= form.label :conc_protein %>
    <%= form.text_field :conc_protein %>
  </div>

  <div class="field">
    <%= form.label :form_of_supply_protein %>
    <%= form.text_field :form_of_supply_protein %>
  </div>

  <div class="field">
    <%= form.label :conc_energy %>
    <%= form.text_field :conc_energy %>
  </div>

  <div class="field">
    <%= form.label :form_of_supply_energy %>
    <%= form.text_field :form_of_supply_energy %>
  </div>

  <div class="field">
    <%= form.label :wet_grain %>
    <%= form.text_field :wet_grain %>
  </div>

  <div class="field">
    <%= form.label :form_of_supply_grain %>
    <%= form.text_field :form_of_supply_grain %>
  </div>

  <div class="field">
    <%= form.label :henilages %>
    <%= form.text_field :henilages %>
  </div>

  <div class="field">
    <%= form.label :form_of_supply_henilages %>
    <%= form.text_field :form_of_supply_henilages %>
  </div>

  <div class="field">
    <%= form.label :silo %>
    <%= form.text_field :silo %>
  </div>

  <div class="field">
    <%= form.label :form_of_supply %>
    <%= form.text_field :form_of_supply %>
  </div>

  <div class="field">
    <%= form.label :grams_of_ration_liter %>
    <%= form.text_field :grams_of_ration_liter %>
  </div>

  <div class="field">
    <%= form.label :mineral_salts %>
    <%= form.text_field :mineral_salts %>
  </div>

  <div class="field">
    <%= form.label :grams_of_salt_liter %>
    <%= form.text_field :grams_of_salt_liter %>
  </div>

  <div class="field">
    <%= form.label :no_grazing_days %>
    <%= form.text_field :no_grazing_days %>
  </div>

  <div class="field">
    <%= form.label :childbirth_racks %>
    <%= form.text_field :childbirth_racks %>
  </div>

  <div class="field">
    <%= form.label :calving_heifers %>
    <%= form.text_field :calving_heifers %>
  </div>

  <div class="field">
    <%= form.label :discarded_cows %>
    <%= form.text_field :discarded_cows %>
  </div>

  <div class="field">
    <%= form.label :cows_served %>
    <%= form.text_field :cows_served %>
  </div>

  <div class="field">
    <%= form.label :pregnant_cows %>
    <%= form.text_field :pregnant_cows %>
  </div>

  <div class="field">
    <%= form.label :clinical_mastitis %>
    <%= form.text_field :clinical_mastitis %>
  </div>

  <div class="field">
    <%= form.label :cows_on_detour %>
    <%= form.text_field :cows_on_detour %>
  </div>

  <div class="field">
    <%= form.label :abortions_seen %>
    <%= form.text_field :abortions_seen %>
  </div>

  <div class="field">
    <%= form.label :reproductive_losses %>
    <%= form.text_field :reproductive_losses %>
  </div>

  <div class="field">
    <%= form.label :cows_with_foot_problems %>
    <%= form.text_field :cows_with_foot_problems %>
  </div>

  <div class="field">
    <%= form.label :dead_cows %>
    <%= form.text_field :dead_cows %>
  </div>

  <div class="field">
    <%= form.label :rains %>
    <%= form.number_field :rains %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
