<br />
<h3 class="titulos">Planillas Mensuales</h3>

<table class="tablas table table table-hover table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Predio:</th>
      <th>Productor:</th>
      <th>Creada por:</th>
      <th>Departamento:</th>
      <th>Fecha:</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @payrolls.each do |payroll| %>
      <tr>
        <td><%= payroll.estate.name %></td>
        <td><%= payroll.estate.user.username %></td>
        <td><%= payroll.user.username %></td>
        <td><%= payroll.estate.department.name %></td>
        <td><%= payroll.saved_date.strftime("%Y %m") %></td>
        <td>
          <%= link_to(payroll, method: :delete, data: { confirm: 'Estas seguro de querer eliminar esta Planilla?' } ) do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
        <td>
          <%= link_to '<i class="fas fa-edit"></i>' .html_safe, edit_payroll_path(payroll)  %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Planilla', new_payroll_path, class:"btn" %>
