
<td>
  <p>
    <h1 class="titulos"><%= @payroll.estate.name %></h1>  
    <p>
      <strong>Productor: </strong>
      <%= @payroll.estate.user.username %>
    </p>
  </p>

  <p>
    <strong>Planilla ingresada por:</strong>
    <%= @payroll.user.username %> 
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @payroll.saved_date.strftime("%Y %m") %>
  </p>

  <p>
    <strong>Raza principal de los rodeos:</strong>
    <%= @payroll.rodeos_main_breed.name %>
  </p>

  <h4 class="subtitulos">LECHE PRODUCIDA</h4>
  <hr>

  <p>
    <strong>Litros remitidos:</strong>
    <%= @payroll.liter_sent %>
  </p>

  <p>
    <strong>Litros de leche no remitidos:</strong>
    <%= @payroll.liters_of_milk_not_sent %>
  </p>

  <p id ="proportion_NR_NP">
    <strong>Proporción no remitidos - no procesados / litros totales:</strong>
    <%= @payroll.proportion_NR_NP.round(0) %>
  </p>

  <p>
    <strong>Litros producidos / mes:</strong>
    <%= @payroll.liters_produced %>
  </p>

  <p>
    <strong>Litros vaca ordeño por dia:</strong>
    <%= @payroll.liters_day_VO %>
  </p>

  <h4 class="subtitulos">COMPOSICIÓN DE LA LECHE</h4><hr>

  <p>
    <strong>Conteo de células:</strong>
    <%= @payroll.cell_count %>
  </p>

  <p>
    <strong>Recuento bacteriano:</strong>
    <%= @payroll.bacterial_count %>
  </p>

  <p>
    <strong>Grasa:</strong>
    <%= @payroll.grease %>
  </p>

  <p>
    <strong>Proteina:</strong>
    <%= @payroll.protein %>
  </p>

  <p>
    <strong>MUN:</strong>
    <%= @payroll.mun %>
  </p>

  <p>
    <strong>Crioscopia:</strong>
    <%= @payroll.cryoscopy %>
  </p>

  <p id="relationship_grase_protein">
    <strong>Relación proteína - grasa:</strong>
    <%= @payroll.relationship_grase_protein.round(3) %>
  </p>  

  <h4 class="subtitulos">SUPERFICIE</h4><hr>

  <p>
    <strong>Superficie Lechera:</strong>
    <%= @payroll.dairy_surface %>
  </p>
  
  <p>
    <strong>Superficie VM (ha):</strong>
    <%= @payroll.vm_surface %>
  </p>

  <h4 class="subtitulos">RODEO LECHERO</h4><hr>

  <p>
    <strong>Vacas en ordeño:</strong>
    <%= @payroll.milking_cows %>
  </p>

  <p>
    <strong>Vacas secas:</strong>
    <%= @payroll.dry_cows %>
  </p>

  <p>
    <strong>Vaca masa:</strong>
    <%= @payroll.cow_dough %>
  </p>

  <p>
    <strong>Terneros lechales:</strong>
    <%= @payroll.suckling_calves %>
  </p>

  <p>
    <strong>Relación vaca ordeño - vaca masa:</strong>
    <%= @payroll.relationship_VO_VM %>
  </p>

  <p>
    <strong>Carga vaca masa/ha - vaca masa:</strong>
    <%= @payroll.carga_VM_VMha %>
  </p>

    <h4 class="subtitulos">ALIMENTACIÓN</h4><hr>

    <p>
      <strong>Concentrado proteico ( kg fresco/VO/día):</strong>
      <%= @payroll.conc_protein %>
      <% if !@form_of_supply_protein.nil?%>
        <strong> / </strong>
        <%= @form_of_supply_protein.name %>
      <% end %>
    </p>
  
    <p>
      <strong>Concentrado energético ( kg fresco/VO/día):</strong>
      <%= @payroll.conc_energy %>
      <% if !@form_of_supply_energy.nil?%>
        <strong> / </strong>
        <%= @form_of_supply_energy.name %>
       <% end %>
    </p>
 
    <p>
      <strong>Grano húmedo ( kg fresco/VO/día):</strong>
      <%= @payroll.wet_grain %>
      <% if !@form_of_supply_grain.nil?%>
        <strong> / </strong>
        <%= @form_of_supply_grain.name %>
      <% end %>
    </p>

    <p>
      <% if @payroll.henilages > 0 %>
        <strong>Henilajes ( kg fresco/VO/día):</strong>
        <%= @payroll.henilages %>
        <% if !@form_of_supply_henilages.nil?%>
          <strong> / </strong>
          <%= @form_of_supply_henilages.name %>
        <% end %>
      <% end %>
    </p>
  
    <p>
      <strong>Silo  ( kg fresco/VO/día):</strong>
      <%= @payroll.silo %>
      <% if !@form_of_supply.nil?%>
        <strong> / </strong>
        <%= @form_of_supply.name %>
      <% end %>
    </p>
  <p>
    <strong>Gramos de ración / litro:</strong>
    <%= @payroll.grams_of_ration_liter %>
  </p>

  <p>
    <strong>Sales minerales (g/vo/día):</strong>
    <%= @payroll.mineral_salts %>
  </p>

  <p>
    <strong>Gramos de sal/ litro:</strong>
    <%= @payroll.grams_of_salt_liter %>
  </p>

  <p>
    <strong>Dias de NO pastoreo (opcional):</strong>
    <%= @payroll.no_grazing_days %>
  </p>

  <p>
    <strong>Kg concentrado / litro:</strong>
    <%= @payroll.concentrated_liters_kg %>
  </p>

  <p id="nitrogen_use_efficiency">
    <strong>Eficiencia de uso de nitrógeno:</strong>
    <%= @payroll.nitrogen_use_efficiency.round(2) %>
  </p>

  <p>
    <strong>Excreción diaria nitrógeno Kg / vaca ordeño / días:</strong>
    <%= @payroll.daily_excretion %>
  </p>

  <p>
    <strong>Excreción mensual:</strong>
    <%= @payroll.monthly_excretion %>
  </p>

  <p id="urea_nitrogen_in_milk">
    <strong>Nitrógeno ureico:</strong>
    <%= @payroll.urea_nitrogen_in_milk %>
  </p>


  <h4 class="subtitulos">DATOS REPRODUCTIVOS</h4><hr>

  <p>
    <strong>Partos vacas:</strong>
    <%= @payroll.childbirth_racks %>
  </p>

  <p>
    <strong>Partos vaquillonas:</strong>
    <%= @payroll.calving_heifers %>
  </p>

  <p>
    <strong>Vacas descartadas:</strong>
    <%= @payroll.discarded_cows %>
  </p>

  <p>
    <strong>Vacas servidas (opcional):</strong>
    <%= @payroll.cows_served %>
  </p>

  <p>
    <strong>Vacas preñadas (opcional):</strong>
    <%= @payroll.pregnant_cows %>
  </p>

  <h4 class="subtitulos">SANIDAD ANIMAL</h4><hr>

  <p>
    <strong>Mastitis clínica:</strong>
    <%= @payroll.clinical_mastitis %>
  </p>

  <p>
    <strong>Vacas en desvío:</strong>
    <%= @payroll.cows_on_detour %>
  </p>

  <p>
    <strong>Abortos vistos:</strong>
    <%= @payroll.abortions_seen %>
  </p>

  <p>
    <strong>Perdidas Reproductivas (opcional):</strong>
    <%= @payroll.reproductive_losses %>
  </p>

  <p>
    <strong>Vacas con problemas podales:</strong>
    <%= @payroll.cows_with_foot_problems %>
  </p>

  <p>
    <strong>Vacas muertas:</strong>
    <%= @payroll.dead_cows %>
  </p>

  <p>
    <strong>Lluvias  (mm):</strong>
    <%= @payroll.rains %>
  </p>

  <%= link_to 'Editar', edit_payroll_path(@payroll), class:"btn" %> 
  <%= link_to 'Atras', payrolls_path, class:"btn" %>
  <%# <%= link_to "PDF", payroll_path(format: "pdf"), :class => "btn",:method => :get,target: '_blank' %> %>

<script>

  var proportion_NR_NP = document.getElementById("proportion_NR_NP")
  if (<%= @payroll.proportion_NR_NP.round(0) %> <= 5) {
    proportion_NR_NP.style.backgroundColor = "#199f49"
    proportion_NR_NP.value = "prueba texto"
  }
  if (<%= @payroll.proportion_NR_NP.round(0) %> > 5) {
    proportion_NR_NP.style.backgroundColor = "#f7df1e"
    proportion_NR_NP.value = proportion_NR_NP.value + "prueba texto"
  }

  var relationship_grase_protein = document.getElementById("relationship_grase_protein")
  if (<%= @payroll.relationship_grase_protein %> > 0.75) {
    relationship_grase_protein.style.backgroundColor = "#199f49"
  }
  if (<%= @payroll.relationship_grase_protein %> <= 0.75) {
    relationship_grase_protein.style.backgroundColor = "#f7df1e"
  }  

  var nitrogen_use_efficiency = document.getElementById("nitrogen_use_efficiency")
  if (<%= @payroll.nitrogen_use_efficiency %> >= 30) {
    nitrogen_use_efficiency.style.backgroundColor = "#199f49"
  }
  if (<%= @payroll.nitrogen_use_efficiency %> > 20 && <%= @payroll.nitrogen_use_efficiency %> < 30 ) {
    nitrogen_use_efficiency.style.backgroundColor = "#f7df1e"
  } 
  if (<%= @payroll.nitrogen_use_efficiency %> <= 20 ) {
    nitrogen_use_efficiency.style.backgroundColor = "#f71d35"
  }   

  var urea_nitrogen_in_milk = document.getElementById("urea_nitrogen_in_milk")
  if (<%= @payroll.urea_nitrogen_in_milk %> >= 12 && <%= @payroll.urea_nitrogen_in_milk %> <= 18 ) {
    urea_nitrogen_in_milk.style.backgroundColor = "#199f49"
  }
  if (<%= @payroll.urea_nitrogen_in_milk %> < 12 || <%= @payroll.urea_nitrogen_in_milk %> > 18 ) {
    urea_nitrogen_in_milk.style.backgroundColor = "#f7df1e"
  }      
      
</script>