<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @payroll.saved_date %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @payroll.producer %>
</p>

<p>
  <strong>Location:</strong>
  <%= @payroll.location %>
</p>

<p>
  <strong>User type:</strong>
  <%= @payroll.user_type %>
</p>

<p>
  <strong>Technical:</strong>
  <%= @payroll.technical %>
</p>

<p>
  <strong>Rodeos main breed:</strong>
  <%= @payroll.rodeos_main_breed %>
</p>

<p>
  <strong>Liter sent:</strong>
  <%= @payroll.liter_sent %>
</p>

<p>
  <strong>Liters of milk not sent:</strong>
  <%= @payroll.liters_of_milk_not_sent %>
</p>

<p>
  <strong>Cell count:</strong>
  <%= @payroll.cell_count %>
</p>

<p>
  <strong>Bacterial count:</strong>
  <%= @payroll.bacterial_count %>
</p>

<p>
  <strong>Grease:</strong>
  <%= @payroll.grease %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @payroll.protein %>
</p>

<p>
  <strong>Urea:</strong>
  <%= @payroll.urea %>
</p>

<p>
  <strong>Cryoscopy:</strong>
  <%= @payroll.cryoscopy %>
</p>

<p>
  <strong>Vm surface:</strong>
  <%= @payroll.vm_surface %>
</p>

<p>
  <strong>Dairy surface:</strong>
  <%= @payroll.dairy_surface %>
</p>

<p>
  <strong>Milking cows:</strong>
  <%= @payroll.milking_cows %>
</p>

<p>
  <strong>Dry cows:</strong>
  <%= @payroll.dry_cows %>
</p>

<p>
  <strong>Cow dough:</strong>
  <%= @payroll.cow_dough %>
</p>

<p>
  <strong>Suckling calves:</strong>
  <%= @payroll.suckling_calves %>
</p>

<p>
  <strong>Conc protein:</strong>
  <%= @payroll.conc_protein %>
</p>

<p>
  <strong>Form of supply protein:</strong>
  <%= @payroll.form_of_supply_protein %>
</p>

<p>
  <strong>Conc energy:</strong>
  <%= @payroll.conc_energy %>
</p>

<p>
  <strong>Form of supply energy:</strong>
  <%= @payroll.form_of_supply_energy %>
</p>

<p>
  <strong>Wet grain:</strong>
  <%= @payroll.wet_grain %>
</p>

<p>
  <strong>Form of supply grain:</strong>
  <%= @payroll.form_of_supply_grain %>
</p>

<p>
  <strong>Henilages:</strong>
  <%= @payroll.henilages %>
</p>

<p>
  <strong>Form of supply henilages:</strong>
  <%= @payroll.form_of_supply_henilages %>
</p>

<p>
  <strong>Silo:</strong>
  <%= @payroll.silo %>
</p>

<p>
  <strong>Form of supply:</strong>
  <%= @payroll.form_of_supply %>
</p>

<p>
  <strong>Grams of ration liter:</strong>
  <%= @payroll.grams_of_ration_liter %>
</p>

<p>
  <strong>Mineral salts:</strong>
  <%= @payroll.mineral_salts %>
</p>

<p>
  <strong>Grams of salt liter:</strong>
  <%= @payroll.grams_of_salt_liter %>
</p>

<p>
  <strong>No grazing days:</strong>
  <%= @payroll.no_grazing_days %>
</p>

<p>
  <strong>Childbirth racks:</strong>
  <%= @payroll.childbirth_racks %>
</p>

<p>
  <strong>Calving heifers:</strong>
  <%= @payroll.calving_heifers %>
</p>

<p>
  <strong>Discarded cows:</strong>
  <%= @payroll.discarded_cows %>
</p>

<p>
  <strong>Cows served:</strong>
  <%= @payroll.cows_served %>
</p>

<p>
  <strong>Pregnant cows:</strong>
  <%= @payroll.pregnant_cows %>
</p>

<p>
  <strong>Clinical mastitis:</strong>
  <%= @payroll.clinical_mastitis %>
</p>

<p>
  <strong>Cows on detour:</strong>
  <%= @payroll.cows_on_detour %>
</p>

<p>
  <strong>Abortions seen:</strong>
  <%= @payroll.abortions_seen %>
</p>

<p>
  <strong>Reproductive losses:</strong>
  <%= @payroll.reproductive_losses %>
</p>

<p>
  <strong>Cows with foot problems:</strong>
  <%= @payroll.cows_with_foot_problems %>
</p>

<p>
  <strong>Dead cows:</strong>
  <%= @payroll.dead_cows %>
</p>

<p>
  <strong>Rains:</strong>
  <%= @payroll.rains %>
</p>

<%= link_to 'Edit', edit_payroll_path(@payroll) %> |
<%= link_to 'Back', payrolls_path %>
