

<div class="menu-principal">
  <div class="logo" id="logo">
    <%= link_to root_path do %>
      <%= image_tag("mejorleche1.png", :alt => "rss feed") %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <% if current_user.user_type_id != 4 %>

    <div class="menu-bar" id="menuBar">
      <i class="fas fa-angle-right" id="btnMenuClose"></i>

      <nav class="enlaces">
      </nav>

      <nav class="enlaces" id="enlaces">
        <ul>
          <li><a href=""><%= link_to 'Reportes', reports_path, class:"nav-link" %></a></li>
          <li><a href=""><%= link_to 'Predios', estates_url, class:"nav-link " %></a></li>
          <li><a href=""><%= link_to 'Planillas', payrolls_path, class:"nav-link " %></a></li>
          <li><a href=""><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class:"nav-link" %></a></li>
          <li><a href=""><%= link_to 'Editar Usuario', edit_user_registration_path, class:"nav-link" %></a></li>
        </ul>
      </nav>
    </div>

    <i class="fas fa-bars" id="btnMenuOpen"></i>

    <% else %>

      <div class="menu-bar" id="menuBar">
      <i class="fas fa-angle-right" id="btnMenuClose"></i>

      <nav class="enlaces">
      </nav>

      <nav class="enlaces" id="enlaces">
        <ul>
          <li><a href=""><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class:"nav-link" %></a></li>
          <li><a href=""><%= link_to 'Editar Usuario', edit_user_registration_path, class:"nav-link" %></a></li>
        </ul>
      </nav>
    </div>

    <i class="fas fa-bars" id="btnMenuOpen"></i>

    <% end %>
  <% else %>

    <div class="menu-bar" id="menuBar">
      <i class="fas fa-angle-right" id="btnMenuClose"></i>

      <nav class="enlaces">
      </nav>

      <nav class="enlaces" id="enlaces">
        <ul>
          <li><a href=""><%= link_to 'Registrarse', new_user_registration_path, class:"nav-link" %></a></li>
          <li><a href=""><%= link_to 'Iniciar Sesión',  new_user_session_path, class:"nav-link " %></a></li>
        </ul>
      </nav>
    </div>

    <i class="fas fa-bars" id="btnMenuOpen"></i>
  <% end %> 
</div>

<script>

// MENU RESPONSIVE
var  btnMenuOpen = document.getElementById("btnMenuOpen"),
     btnMenuClose = document.getElementById("btnMenuClose"),
     menuResponsive = document.getElementById("menuBar"),
     enlaces = document.getElementById("enlaces");

     // Click abrir
     btnMenuOpen.addEventListener("click", function () {
          menuResponsive.classList.add("active");
     });

     // Click cerrar
     btnMenuClose.addEventListener("click", function () {
          menuResponsive.classList.remove("active");
     });

     // Cerrar menu con elementos de enlace
     enlaces.addEventListener("click", function () {
          menuResponsive.style.transitionDelay = "0.5s";
          menuResponsive.classList.remove("active");
     });

</script>
