<%= form_with(model: has_estate) do |form| %>
  
<% if notice %>
  <div class="alert alert-primary fixed-top" role="alert"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fixed-top" role="alert"><%= alert %></div>
<% end %>

  <div class="form-group my-3">
    <select class="form-select" <%= collection_select(:has_estate, :user_id, @users, :id, :username ) %></select>
  </div>

  <div class="form-group my-3">    
     <select class="form-select" <%= collection_select(:has_estate, :estate_id, @estates, :id, :name) %></select>
  </div>

  <div class="actions">
    <%= form.submit 'Asociar', class:"btn btn-primary btn-sm" %>
  </div>

<% end %>

