<br/><br>

<h3>Generar Asociación</h3>
<%= form_with(model: has_estate) do |form| %>

  <div class="form-group my-3">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label 'Técnico' %></label>
    <select class="form-select" <%= collection_select(:has_estate, :user_id, @users, :id, :username ) %></select>
  </div>

  <div class="form-group my-3">    
    <label for="exampleFormControlInput1" class="form-label"><%= form.label 'Predio' %></label>
     <select class="form-select" <%= collection_select(:has_estate, :estate_id, @estates, :id, :name) %></select>
  </div>

  <div class="actions">
    <%= form.submit 'Asociar', class:"btn", data: { disable_with: "Guardando..." } %>
  </div>

<% end %>

