<%= form_with(model: estate) do |form| %>
  
<% if notice %>
  <div class="alert alert-primary fixed-top" role="alert"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fixed-top" role="alert"><%= alert %></div>
<% end %>

  <div class="field">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label 'Nombre' %></label>   
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label :dicose %></label>
    <%= form.text_field :dicose, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value:current_user.id %>
  </div>

  <div class="form-group my-3">
    <label for="exampleFormControlInput1" class="form-label"><%= form.label 'Departamento' %></label>    
    <select class="form-select" <%= collection_select(:estate, :department_id, Department.all.order(:name), :id, :name) %></select>
  </div>

  <div class="actions">
    <%= form.submit 'Crear / Modificar', class:"btn btn-outline-success btn-sm" %>
    <%= link_to 'Atras', estates_path, class:"btn btn-outline-secondary btn-sm" %>
  </div>
<% end %>
