<% if current_user.user_type_id != 2 and current_user.user_type_id != 4  %>
<br>
<h3 class="titulos">Predios del cliente - <%= current_user.username %></h3>
 
<table class="table table table-hover table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Dicose</th>
      <th>Productor</th>
      <th>Departamento</th>
      <th>Rubro Productivo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @estates.each do |estate| %>
      <tr>
        <td><%= estate.name %></td>
        <td><%= estate.dicose %></td>
        <td><%= estate.user.username %></td>
        <td><%= estate.department.name %></td>
        <td><%= estate.productive_area.name %></td>
        
        <td>
          <%= link_to(estate, method: :delete, data: { confirm: 'Se eliminaran todas las asociaciones de sus Técnicos como tambien las Planillas que tenga de este Predio, estas seguro de querer eliminar este Predio?' } ) do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
        <td>
          <%= link_to '<i class="fas fa-edit"></i>' .html_safe, edit_estate_path(estate)  %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Predio', new_estate_path, class:"btn" %>
<%= link_to 'Asociar Técnicos', has_estates_path, class:"btn" %>

<% else %> 

<br>
<h3>Predios Asociados - <%= current_user.username %></h3>
<br>

<table class="table table table-hover table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Dicose</th>
      <th>Productor</th>
      <th>Departamento</th>
      <th>Rubro Productivo</th>
    </tr>
  </thead>

  <tbody>
    <% @estates.each do |estate| %>
      <tr>
        <td><%= estate.name %></td>
        <td><%= estate.dicose %></td>
        <td><%= estate.user.username %></td>
        <td><%= estate.department.name %></td>
        <td><%= estate.productive_area.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>