
<br>
<div class="jumbotron">
  <h3>
    <%= @estate.name %>  
  </h3>
  <p class="lead">
  	<p>
  	  <strong>Dicose:</strong>
  	  <%= @estate.dicose %>
	 </p>
   <p>
  	  <strong>Productor:</strong>
  	  <%= @estate.user.username %>
	 </p>
  </p>

  <%= link_to 'Editar', edit_estate_path(@estate), class:"btn btn-outline-warning btn-sm" %> 
  <%= link_to 'Atras', estates_path, class:"btn btn-outline-secondary btn-sm" %>
  <br/>
</div>
