
<br>
<div class="jumbotron">
  <h1 class="display-4">
    <%= @estate.name %>  
  </h1>
  <p class="lead">
  	<p>
  	  <strong>Dicose:</strong>
  	  <%= @estate.dicose %>
	 </p>
   <p>
  	  <strong>Productor:</strong>
  	  <%= @estate.user.username %>
	 </p>
  </p>

  <%= link_to 'Editar', edit_estate_path(@estate), class:"btn btn-primary" %> 
  <%= link_to 'Atras', estates_path, class:"btn btn-secondary" %>
  <br/>
</div>
