
<br>
<div class="jumbotron">
  <h3 class="titulos">
    <%= @estate.name %>  
  </h3>
  <p class="lead">
  	<p>
  	  <strong>Dicose:</strong>
  	  <%= @estate.dicose %>
	 </p>
   <p>
  	  <strong>Productor:</strong>
  	  <%= @estate.user.username %>
	 </p>
   <p>
  	  <strong>Departamento:</strong>
  	  <%= @estate.department.name %>
	 </p>
   <p>
  	  <strong>Rubro Productivo:</strong>
  	  <%= @estate.productive_area.name %>
	 </p>
    
  </p>

  <%= link_to 'Editar', edit_estate_path(@estate), class:"btn", data: { disable_with: "Guardando..." } %> 
  <%= link_to 'Atras', estates_path, class:"btn" %>
  <%= link_to "PDF", estate_path(format: "pdf"), :class => "btn",:method => :get,target: '_blank' %>
  <br/>
</div>
