
 <% if notice %>
  <div class="alert alert-primary fixed-top" role="alert"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fixed-top" role="alert"><%= alert %></div>
<% end %> 

<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="login-titulo">Ingresar a Mejor Leche</h5>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <h1 class="login" id="titulo-login"><%= f.label :login %></h1>
          <%= f.text_field :login, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group mt-3">
          <!-- <%= f.label :password %><br /> -->
          <h1 class="login" id="titulo-login"><%= f.label 'Contraseña' %></h1>
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to 'Recuperar contraseña', new_password_path(resource_name), class: 'btn btn-input'%>
        <%= f.submit 'Ingresar', class: 'btn btn-input', data: { disable_with: "Ingresando..." } %>
      </div>
    <% end %>
  </div>
</div>

<!-- <%= render "devise/shared/links" %> -->
