
<h3 class="titulos">Reportes por predio</h3>
 
<table class="table table table-hover table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Dicose</th>
      <th>Productor</th>
      <th>Departamento</th>
      <th>Rubro Productivo</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @estates.each do |estate| %>
      <tr>
        <td><%= estate.name %></td>
        <td><%= estate.dicose %></td>
        <td><%= estate.user.username %></td>
        <td><%= estate.department.name %></td>
        <td><%= estate.productive_area.name %></td>
        <td><%= link_to 'Informe de Estadísticas', estate, class:"btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="titulos">Reporte de planillas Mensuales</h3>

<table class="tablas table table table-hover table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Predio:</th>
      <th>Departamento:</th>
      <th>Fecha:</th>
      <th>Rodeo:</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @payrolls.each do |payroll| %>
      <tr>
        <td><%= payroll.estate.name %></td>
        <td><%= payroll.estate.department.name %></td>
        <td><%= payroll.saved_date.strftime("%Y %m") %></td>
        <td><%= payroll.rodeos_main_breed.name %></td>
        <td><%= link_to 'Reporte Planilla', payroll, class:"btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>