
<h3 class="titulos">Reportes por predio</h3>
 
<table class="table table table-hover table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Dicose</th>
      <th>Productor</th>
      <th>Departamento</th>
      <th>Rubro Productivo</th>
    </tr>
  </thead>

  <tbody>
    <% @estates.each do |estate| %>
      <tr>
        <td><%= link_to estate.name , estate %></td>
        <td><%= estate.dicose %></td>
        <td><%= estate.user.username %></td>
        <td><%= estate.department.name %></td>
        <td><%= estate.productive_area.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
